#container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 10px;
    border-style: solid;
    border-color: black;
}

.boxOfSq {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.squares {
    box-sizing: border-box;
    background-color: white;
    margin: 1px;
    flex: 1;
    display: flex;
  
}

body {
    background-color: black;
}

.bigBox {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sketch {
    opacity: opacNew;
}


